<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>converterFile</display-name>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.dynamicProxy.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.dynamicProxy.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/servlet/ServletDemo1</url-pattern>
  </servlet-mapping>
  <filter>
    <description>配置压缩过滤器</description>
    <filter-name>GzipFilter</filter-name>
    <filter-class>com.dynamicProxy.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.response.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/servlet/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>com.response.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/servlet/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>com.response.ResponseDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/servlet/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResponseDemo4</servlet-name>
    <servlet-class>com.response.ResponseDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo4</servlet-name>
    <url-pattern>/servlet/ResponseDemo4</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.response.validateCode.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/servlet/DrawImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CheckServlet</servlet-name>
  	<servlet-class>com.response.validateCode.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CheckServlet</servlet-name>
  	<url-pattern>/servlet/CheckServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RequestDemo1</servlet-name>
  	<servlet-class>com.request.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RequestDemo1</servlet-name>
  	<url-pattern>/servlet/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RequestDemo2</servlet-name>
  	<servlet-class>com.request.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RequestDemo2</servlet-name>
  	<url-pattern>/servlet/RequestDemo2</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>